<!-- Blogs Section -->
<section class="blogs-section" id="blogs">
    <div class="container">  
        <div class="row">
           <div class="blogs-title">
              <h2>Latest Tech Blogs</h2>
           </div>
        </div>
        <div class="row three-column-div">
            <!-- Blog Item -->
            <div class="blog-item">
                <div class="blog-item-inner box-shadow">
                    <div class="blog-image">
                        <img src="../assets/images/blogs-images/1.jpg" alt="blogs"/>
                        <div class="blog-date">19 Mar 2021</div>
                    </div>
                    <div class="blog-info">
                        <h4 class="blog-title">NASA's SLS Core Stage</h4>
                        <p class="blog-discription">'The most powerful rocket NASA has ever built' will eventually
                             power missions to the Moon. After a hot fire test in January ended early, NASA decided it 
                             needed more data on the rocket core stage that it plans to use for missions to the Moon.</p>
                        <p class="blog-tags">Tags: <a href="#">NASA</a> , <a href="#">SLS Core</a> , <a href="#">Moon</a></p>
                    </div>
                </div>
            </div> 
            <!-- End of Blog Item -->  
            <!-- Blog Item -->
            <div class="blog-item">
                <div class="blog-item-inner box-shadow">
                    <div class="blog-image">
                        <img src="../assets/images/blogs-images/2.jpg" alt="blogs"/>
                        <div class="blog-date">19 Mar 2021</div>
                    </div>
                    <div class="blog-info">
                        <h4 class="blog-title">AustCyber combines with Stone & Chalk</h4>
                        <p class="blog-discription">'Touted as combining the 'greatest concentration of cybersecurity industry expertise' 
                            with the 'most developed technology commercialisation infrastructure that Australia has ever built'.</p>
                        <p class="blog-tags">Tags: <a href="#">AustCyber</a> , <a href="#">Australia</a></p>
                    </div>
                </div>
            </div> 
            <!-- End of Blog Item -->  
            <!-- Blog Item -->
            <div class="blog-item">
                <div class="blog-item-inner box-shadow">
                    <div class="blog-image">
                        <img src="../assets/images/blogs-images/3.jpg" alt="blogs"/>
                        <div class="blog-date">12 July 2019</div>
                    </div>
                    <div class="blog-info">
                        <h4 class="blog-title">History of Bitcoin & the Web3</h4>
                        <p class="blog-discription">The Bitcoin white paper didn’t come out of thin air and P2P networks are
                             not a new phenomenon. They are rooted in the early history of the computer and the Internet, 
                             building on decades of research of computer networks, cryptography, and game theory.</p>
                        <p class="blog-tags">Tags: <a href="#">Bitcoin</a> , <a href="#">History</a> , <a href="#">Cryto-Currency</a></p>
                    </div>
                </div>
            </div> 
            <!-- End of Blog Item -->  
        </div> 
    </div>
</section>
<!--End of Blogs Section -->

