<!-- About Section -->
<section class="aboutSection" id="about">
    <div class="container">
        <div class="row">
            <div class="about-title">
              <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-content">
                <div class="row">
                    <div class="about-text">
                       <h3>I'm Sarthak Mokashi and I'm a <span>B.E IT Graduate</span></h3>
                       <p>Hi! My name is Sarthak Mokashi. I am a B.E IT Graduate. I completed my Bachelors from AISSMS IOIT,Pune
                           with an overall CGPA of 7.06. During my academics I learnt technologies such as Java , MySQL , JavaScript
                           & Angular which helped me enrich my skill-set and made me Industry ready candidate.
                       </p>
                    </div>
                </div>
                <div class="row">
                    <div class="personal-info" style="width: 60%; float:left">
                        <div class="row">
                            <div class="info-item" style="width: 50%; float:left">
                                <span><p>Birthday : <span>1 May 1998</span></p></span>
                            </div>
                            <div class="info-item" style="width: 50%; float:right">
                                <span><p>Age : <span>22 yrs</span></p></span>
                            </div>
                            <div class="info-item" style="width: 50%; float:left">
                                <span><p>Email : <span>sarthakmokashi41@gmail.com</span></p></span>
                            </div>
                            <div class="info-item" style="width: 50%; float:right">
                            <span><p>Degree : <span>B.E IT</span></p></span>
                            </div>
                            <div class="info-item" style="width: 50%; float:left">
                            <span><p>Phone : <span>+91 9922226089</span></p></span>
                            </div>
                            <div class="info-item" style="width: 50%; float:right">
                            <span><p>City : <span>Pimpri-Chinchwad, Pune</span></p></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="buttons">
                               <a href="#" class="btn">Download Resume</a>
                            </div>
                        </div>
                    </div>
                    <div class="skills" style="width: 40%; float:right">
                        <div class="row">
                            <div class="skill-item">
                                <h5>JAVA</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width:85%"></div>
                                    <div class="skill-percent">85%</div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <h5>MySQL</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width:75%"></div>
                                    <div class="skill-percent">75%</div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <h5>Angular</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width:80%"></div>
                                    <div class="skill-percent">80%</div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <h5>JavaScript</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width:60%"></div>
                                    <div class="skill-percent">60%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="edu-cert">
                    <div class="two-column-div">
                        <div class="education">
                            <h3 class="title">Education</h3>
                            <div class="row">
                                <div class="timeline-box">
                                    <div class="timeline">
                                     <!-- Timeline Item  -->
                                      <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date">
                                            <i class="fa fa-calendar"></i> 2016 - 2020
                                        </h6>
                                        <h4 class="timeline-title">Bachelors of Information Technology</h4>
                                        <p class="timeline-text">AISSMS Institute of Information Technology<br>
                                            Beside Pune RTO, Kennedy Road, Pune-01.</p>
                                      </div>
                                    <!-- Timeline Item End -->
                                    <!-- Timeline Item  -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date">
                                            <i class="fa fa-calendar"></i> 2014 - 2016
                                        </h6>
                                        <h4 class="timeline-title">12th Science</h4>
                                        <p class="timeline-text">Jai Hind Junior College<br>
                                            Opposite Jijamata Hospital, Pimpri, Pune-17.</p>
                                      </div>
                                    <!-- Timeline Item End -->
                                    <!-- Timeline Item  -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date">
                                            <i class="fa fa-calendar"></i> 2014 - 2016
                                        </h6>
                                        <h4 class="timeline-title">10th</h4>
                                        <p class="timeline-text">Jai Hind High School<br>
                                            Opposite Jijamata Hospital, Pimpri, Pune-17.</p>
                                      </div>
                                    <!-- Timeline Item End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="certifications">
                            <h3 class="title">Certifications</h3>
                            <div class="row">
                                <div class="timeline-box">
                                    <div class="timeline">
                                     <!-- Timeline Item  -->
                                      <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date">
                                            <i class="fa fa-calendar"></i> 2016 - 2020
                                        </h6>
                                        <h4 class="timeline-title">Bachelors of Information Technology</h4>
                                        <p class="timeline-text">AISSMS Institute of Information Technology<br>
                                            Beside Pune RTO, Kennedy Road, Pune-01.</p>
                                      </div>
                                    <!-- Timeline Item End -->
                                    <!-- Timeline Item  -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date">
                                            <i class="fa fa-calendar"></i> 2014 - 2016
                                        </h6>
                                        <h4 class="timeline-title">12th Science</h4>
                                        <p class="timeline-text">Jai Hind Junior College<br>
                                            Opposite Jijamata Hospital, Pimpri, Pune-17.</p>
                                      </div>
                                    <!-- Timeline Item End -->
                                    <!-- Timeline Item  -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date">
                                            <i class="fa fa-calendar"></i> 2014 - 2016
                                        </h6>
                                        <h4 class="timeline-title">10th</h4>
                                        <p class="timeline-text">Jai Hind High School<br>
                                            Opposite Jijamata Hospital, Pimpri, Pune-17.</p>
                                      </div>
                                    <!-- Timeline Item End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<!-- End of About Section -->

<!-- ---------------------------------------------------------------------------- -->
